.title {
    display: flex;
    color : black;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    color: black;
    background: none;
    border-radius: 2cm;
}